*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}
:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 10px;
    padding: 2rem;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}
h1 {
    text-transform:uppercase;

}
.tab-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
}
.tab{
    cursor: pointer;
    font-size: .875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}
.tab.current-tab {
    background-color:rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}


.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
    
}
.btn{
    /* width: 20px;
    height: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    border-radius: 5px;
    border: none;
    font-size: .85rem;
    background-color: var(--colorDark2);
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
   

}
.form-container>button img{
    width: 20px;
    height: 20px;
}
.grant-location-container{
    display: none;
    flex-direction: column;
    align-items: center;gap: 10px;
    margin-top: 5%;

}
.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600; 
}
.grant-location-container p:last-of-type{
    font-size:0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}
.grant-location-container.active{
    display: flex;
}
.loading-container{
    display: none;
    flex-direction: column;
    align-items:center;
}
.loading-container.active{
    display: flex;
    
}
.loading-container p{
    text-transform: uppercase;
}
.user-info-container{
    display:none;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
   
}

.user-info-container.active{
    display: flex;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}
.user-info-container p{
    font-size:1.5rem;
    font-weight:200;
}
.user-info-container img{
    width:90px;
    height:90px;
}
.name p{
    font-size:2rem;
}
.name img{
    width: 30px;
    height:30px;
    object-fit: contain;
}
.user-info-container p[data-temp] {
    font-size:2.75rem;
    font-weight:700;
}

.parameter-container{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 5%;
}
.parameter-container>.parameter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(165, 172, 172, 0.233);
    width: 12vw;
    padding: .5rem 1rem;
    border-radius: 10px;
    gap: 10px;

}
.parameter>img{
    object-fit: cover;
    width: 5vw;
}

.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight:600;
    text-transform: uppercase;
}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}
.form-container{
    display: none;

    width:80vw;
    max-width:550px;
    margin:5% auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px; 
    /* margin-bottom: 3rem; */
}
.form-container.active{
    display: flex;
}

.form-container input{
    all:unset;
    width: calc(100% - 80px);
    height:40px;
    padding: 0 20px;
    background-color:rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}
.form-container input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.form-container input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}
.form-container .btn {
    padding:unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom:1px;
}
.error{
    display: none;
    align-items: center;
    justify-content: center;
}
.error.active{
    display: flex;
}
.error>img{
    width: 20vw;

}
@media(max-width:430px){
    .wrapper{
        height: 100%;
    }
    .tab-container{
        flex-direction: column;
        width:100%;
    }
    .parameter-container{
        flex-direction: column;
       
    }
    .parameter-container>.parameter{
        width: 60vw;
        padding: .5rem;
    }
    .parameter>img{
        object-fit: cover;
        width: 15vw;    }
}